# This file contains custom snippets that are always defined.
priority -60

snippet arr "formatted array with one line for each item" w
[
	${1:content}
	]
endsnippet

snippet dic "formatted dictionary with one line for each key/value pair" w
{
	${1:content}
	}
endsnippet
